*{
	font-family: "Arial", sans-serif;
}

main table{
	font-size: .9em;
	width: 100%;
}

main table th{
	text-align: center;
}

main table tr{
	height: 45px;
}

main table tr:nth-child(even){
	background-color: #EEE;
}

main table tr:first-child{
	text-align: right;
}

.botao{
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	width: 150px;
	padding: 5px;
}

.adicionar{
	background-color: #274996;
	border: solid 1px #22CCAA inset;
	right: 0;
}
.adicionar:hover{
	background-color: #98B1ED;
}

.editar{
	background-color: #E5FF00;
	color: #000;
	border: solid 1px #F1FF70;
	margin-right: 25px;
}
.editar:hover{
	background-color: #E8EDBB;
}


.excluir{
	background-color: #FF0000;
	border: solid 1px #AA1234;
}
.excluir:hover{
	background-color: #ED6161;
}

form{
	font-size: .8em;
	background-color: rgba(39, 73, 150, .1);
	padding: 10px;
	width: 300px;
}

label{
	font-weight: bold;
}

input[type='text']{
	display: block;
	margin: 7px;
}

button{
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	width: 125px;
	padding: 5px;
	
	float: left;
}

button[id='enviar']{
	background-color: #149606;
}

button[id='cancelar']{
	background-color: #FF410D;
}

.oculto{display: none;}